
// font 600 300 thin

@font-face {
    font-family: 'poppins-600';
    src :local('#{$font-path}/Poppins-ExtraBold.ttf') format('truetype');
}


@font-face {
    font-family: 'poppins-medium';
    src :local('#{$font-path}/Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-regular';
    src :local('#{$font-path}/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins-thin';
    src :local('#{$font-path}/Poppins-Thin.ttf') format('truetype');
}
